In [2]:
import pandas as pd
import numpy as np
import os
import sys
from datetime import datetime
import scipy.stats as stats
import matplotlib.pyplot as plt
from ticker_loader import load_SPY_components
import sqlite3
from tqdm.notebook import tqdm
import time 
import pickle
from datetime import datetime
from datetime import timedelta
from statsmodels.tsa.stattools import coint
import holidays
import random as rn

In [ ]:
rn.seed(42)
num_stocks = 20
num_days = 200
data_matrix = np.random.randint(0, num_days, size=(num_stocks, num_days))

window_size = 20
start = window_size
end = num_days

stocks_dict = {}
for i in range(num_stocks):
    stocks_dict[str(i)] = [rn.randint(0,num_days) for x in range(num_days)]

In [40]:
og_correlations = {}

for stock_1 in tqdm(stocks_dict.keys()):
    for stock_2 in stocks_dict.keys():
        if stock_1 != stock_2:
            for i in range(start,num_days,1):
                price_data_1 = stocks_dict[stock_1][i-window_size:i]
                price_data_2 = stocks_dict[stock_2][i-window_size:i]

                # Calculate the correlation between the two series
                correlation, p_value = stats.pearsonr(price_data_1, price_data_2)

                og_correlations[(int(stock_1), int(stock_2), i)] = correlation

  0%|          | 0/20 [00:00<?, ?it/s]

In [ ]:
correlations_new = {}
data_matrix = np.zeros((num_stocks, num_days))
for i in tqdm(range(num_stocks)):
    data_matrix[i] = stocks_dict[str(i)]

for i in tqdm(range(start, end)):
    window_data = data_matrix[:, i - window_size:i]
    correlation_matrix = np.corrcoef(window_data)
    for j in range(num_stocks):
        for k in range(num_stocks):
            correlations_new[(j, k, i)] = correlation_matrix[j, k]

example_correlation = correlations[0][0, 1]
print("Correlation between stock 0 and stock 1 in the first window:", example_correlation)

  0%|          | 0/20 [00:00<?, ?it/s]

  0%|          | 0/180 [00:00<?, ?it/s]

Correlation between stock 0 and stock 1 in the first window: -0.0574144817479174

In [28]:
print(correlations[0].shape)
print(len(correlations))

(20, 20)
180

In [ ]:
for stock_1 in stocks_dict.keys():
    for stock_2 in stocks_dict.keys():
        if stock_1 != stock_2:
            for i in range(start, num_days):
                correlation_original = og_correlations[(int(stock_1), int(stock_2), i)]
                correlation_new = correlations_new[(int(stock_1), int(stock_2), i)]

                if round(correlation_original,11) != round(correlation_new,11):
                    print("Correlation mismatch found!")
                    print("Stock 1:", stock_1)
                    print("Stock 2:", stock_2)
                    print("Window index:", i)
                    print("Original correlation:", correlation_original)
                    print("New correlation:", correlation_new)
                    break

In [ ]:

df = pd.DataFrame([[1,100],[2,110],[3,120],[4,130],[5,140],[6,150],[7,160],[8,170],[9,180]], columns= (["Date", "Close"]))
df['pct_change'] = df['Close'].pct_change(
                                periods=5)
df["pct_change"] = df["pct_change"].shift(-5)
                            

df

   Date  Close  pct_change
0     1    100    0.500000
1     2    110    0.454545
2     3    120    0.416667
3     4    130    0.384615
4     5    140         NaN
5     6    150         NaN
6     7    160         NaN
7     8    170         NaN
8     9    180         NaN

In [ ]:

df = pd.DataFrame([[1,100],[2,110],[3,120],[4,130],[5,140],[6,150],[7,160],[8,170],[9,180]], columns= (["Date", "Close"]))
df['pct_change'] = df['Close'].pct_change(
                                periods=-5)
df

   Date  Close  pct_change
0     1    100   -0.333333
1     2    110   -0.312500
2     3    120   -0.294118
3     4    130   -0.277778
4     5    140         NaN
5     6    150         NaN
6     7    160         NaN
7     8    170         NaN
8     9    180         NaN